@model DoAnCoNgan.Models.Cart
    @{ 

        Layout = "~/Views/Shared/_LayoutCus.cshtml";
    }


<table class="table">
       <thead>
           <tr>
               <th>Tên sản phẩm </th>
               <th>Hình sản Phẩm </th>
               <th>Gía</th>
               <th>Số Lượng </th>
               <th>Thành Tiền </th>
               <th></th>
           </tr>
       </thead>
    <tbody>
        <tr>
            <td colspan="6">
                Chưa có sản phẩm nào .....
            </td>
        </tr>
    </tbody>

    </table>